%h2
  = I18n.t('password.change_password')

= partial(:flash)

%form.form-horizontal{:action => "/#{I18n.locale}/admin/change_password", :method => "post"}
  %p
    .form-group
      %label.control-label.col-sm-2{for: "current_password"}
        = I18n.t('password.current_password')
      .col-sm-3
        %input.form-control{:name => "current_password", :type => "password"}/
    .form-group
      %label.control-label.col-sm-2{for: "new_password"}
        = I18n.t('password.new_password')
      .col-sm-3
        %input.form-control{:name => "new_password", :type => "password"}/
    .form-group
      %label.control-label.col-sm-2{for: "again_password"}
        = I18n.t('password.again_password')
      .col-sm-3
        %input.form-control{:name => "again_password", :type => "password"}/
  %p
    .col-sm-2
    .col-sm-3
      %button.btn.btn-primary{:type => "submit"}
        = I18n.t('password.change_it')
